<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">		
		
		<section class="form-container">
			<label for="nickname">Your Nickname</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			<label for="avatar">Choose Your Color!</label>
			<select v-model="avatar" id="avatar">
				<!-- render all avatar options one by one -->
				<!-- ensure the current one apprears as "selected" -->
				<option v-for="a in avatars" :selected="a.name == avatar.name" :value="a" >{{a.name}}</option>
			</select>
			<img class="avatar-img" :src="avatar.src" alt="avatar">
			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input type="submit" @click.prevent="dispatchMessage">
			</form>
		</section>
		
		<section class="messages">
			<ul id="messages" v-for="message in messages">
                <!-- render a new component for every message -->
				<component :is="message.type" :msg="message"></component>
			</ul>
		</section>		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>