/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: 20px Helvetica, Arial; }

main {
  display: flex;
  height: 100%;
  flex-direction: row; }

.form-container, .messages {
  padding: 20px; }

.form-container {
  flex: 1;
  border: 6px solid #40748a;
  background-color: #cbecf9; }
  .form-container label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }

.messages {
  flex: 2;
  background: linear-gradient(rgb(255, 254, 235), rgb(249, 228, 114));
  border: 6px solid #aaaaab; }

input, textarea, select {
  display: block;
  width: 100%;
  border: 6px solid #48a3cb;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-style: solid; }

textarea {
  height: 135px; }

img.avatar-img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #bfcfd6;
  margin-top: 5px; }

form {
  padding: 3px;
  margin: 12px auto; }
  form input[type=submit] {
    width: auto;
    padding: 10px;
    background-color: #6b7d63;
    margin-top: 1rem;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #messages li {
    padding: 5px 10px; }
  #messages li:nth-child(odd) {
    background: #eee; }

.new-message {
  width: 45%;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 1rem;
  float: left;
  clear: both;
  border: .1em solid white;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .new-message span {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 2px; }
  .new-message .message-avatar {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #5a628e; }
  .new-message .message-content {
    margin-left: 10px; }
    .new-message .message-content .prompt {
      font-weight: bold;
      font-size: larger; }

.my-message {
  float: right !important;
  color: white; }

.notification {
  width: 100%;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: center;
  float: none;
  clear: both; }
  .notification .dot {
    display: inline-block;
    height: .8em;
    width: .8em;
    border-radius: 50%;
    vertical-align: middle; }
  .notification .smaller {
    font-size: smaller; }
